body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: top;
}

.slider {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;

}

.Image {
    width: 100%;
    height: 450px;
    position: absolute;
    transition: all 0.5s;
}

.Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    z-index: 10px;
    cursor: pointer;
    font-size: 100px;
    color: black;
    background-color: transparent;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 50%;
    left: 2%;
}

.btn-next {
    top: 50%;
    right: 2%;
}